*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}
.Pokedex{
    background-color: #F7FCFC;
    width: 100%;
}
.Pokedex-Header,
    .Pokedex-Footer{
    background: -webkit-linear-gradient(135deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(-45deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
    position:fixed;
    overflow:hidden;
    width:100%;
    z-index:1;    
}
.Pokedex-Header{
    height: 75px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    top:0;
    left:0;    
}
.Pokedex-Footer{
    height: 25px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, .4);
    bottom:0;
    left:0;    
}
.Pokedex-MenuIcon{
    position: absolute;
    left:20px;
    top:20px;
    cursor: pointer;
    height: 30px;
    width: 30px;    
}
.Pokedex-MenuIcon span{
    display: block;
    width:100%;
    height:5px;
    margin-top: 5px;
    background-color: #F7FCFC;    
}
.Pokedex-Menu-Back{
    cursor:  pointer;
    position: absolute;
    left:20px;
    top:20px;
    line-height: 30px;
    height: 30px;
    width: 30px;    
}
.Pokedex-Menu-Back:after{
    color: #F7FCFC;
    content: "\21A9";
    font-size: 27px;
    text-align: center;
    display: block;    
}
.Pokedex-Tira{
    height: 65px;
    width: 65px;
    right: 0;
    top: 0;
    position: absolute;
    background: transparent;
    border-bottom-left-radius: 100%;
    border-left: solid 10px #5A0015;
    border-bottom: solid 10px #5A0015;
    box-shadow:-1px 1px 2px  rgba(0, 0, 0, .8) ,inset 1px -1px 2px rgba(0, 0, 0, .6);    
}
.Pokedex-Body{
    background: #F7FCFC;
    margin-top: 65px;
    padding: 10px;
    width:100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.Pokedex-Pokemon{
    cursor: pointer;
    width: 40%;
    margin: 10px;
    -webkit-transition: 0.5;
    transition:0.5;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 5px 0px;
    font-family: 'Handlee';
    position: relative;    
}
.Pokedex-Pokemon:hover:after{
    height:20px;
    width:20px;    
}
.Pokedex-Pokemon:after{
    content: "" ;
    -webkit-transition: 0.5s;
    transition:0.5s;
    position:absolute;
    background: -webkit-linear-gradient(45deg, #5A0015 45%, #aaaaaa 50%, #cccccb 60%,white);
    background: linear-gradient(45deg, #5A0015 45%, #aaaaaa 50%, #cccccb 60%,white);
    height:0px;
    width:0px;
    top:0;
    right:0;    
}
@media screen and (min-width: 680px){
    .Pokedex-Pokemon{
        width: 25%;    
    }    
}
@media screen and (min-width: 768px){
    .Pokedex-Pokemon{
        width: 20%;    
    }    
}
.Pokedex-Pokemon-Name{
    font-size: 26px;
    text-align:center;
    margin-bottom: 5px;    
}
.Pokedex-Pokemon-Figure{
    width:90%;
    margin: 0 auto;    
}
.Pokedex-Pokemon-Img{
    width: 100%;    
}
.Pokedex-Detalle{
    width: 100%;
    margin: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    font-family: 'Handlee';
    padding:5px;    
}
.Pokedex-Detalle-Figure{
    width: 35%;    
}
@media screen and (min-width: 768px){
    .Pokedex-Detalle-Figure{
        width: 30%;    
    }    
}
.Pokedex-Detalle-Img{
    width: 100%;    
}
.Pokedex-Detalle-Info{
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding-left: 5px;    
}
@media screen and (min-width: 680px){
    .Pokedex-Detalle-Info{
        padding: 0px 20px;    
    }    
}
@media screen and (min-width: 768px){
    .Pokedex-Detalle-Info{
        width: 50%;
        -webkit-box-flex: 0;
                flex-grow: 0;    
    }    
}
.Pokedex-Detalle-Nombre{
    font-size: 20px;
    font-weight: bold;
    text-align: center;    
}
.Pokedex-Detalle-Caracteristicas{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;    
}
.Pokedex-Detalle-Caracteristicas p:nth-child(1){
    font-weight: bold;    
}
.Pokedex-Detalle-Caracteristicas p span:nth-child(1){
    margin-right: 5px;    
}
.Pokedex-Detalle-Evolucion{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 10px;    
}
@media screen and (min-width: 768px){
    .Pokedex-Detalle-Evolucion{
        width: 20%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        justify-content: space-around;
        -webkit-box-align: center;
                align-items: center;    
    }    
}
.Pokedex-Detalle-Evolucion-Figure{
    width: 49%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;    
}
.Pokedex-Detalle-Evolucion-Img{
    width: 50%;    
}
@media screen and (min-width: 680px){
    .Pokedex-Detalle-Evolucion-Img{
        width: 65%;    
    }    
}
@media screen and (min-width: 768px){
    .Pokedex-Detalle-Evolucion-Img{
        width: 100%;    
    }    
}
.Pokedex-Detalle-Evolucion-Nombre{
    text-align: center;    
}
.Pokedex-Menu{
    background: -webkit-linear-gradient(135deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(-45deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    width: 0%;
    -webkit-transition: 0.5s;
    transition:0.5s;
    z-index: 1;
    font-family: 'Handlee';
    color: #F7FCFC;
    overflow: hidden;    
}
.Pokedex-Menu.active{
    width: 65%;
    max-width: 326px;    
}
.Pokedex-Menu-Cerrar{
    background-color: #F7FCFC;
    color: #5A0015;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    box-shadow: 1px 4px #5A0015;    
}
.Pokedex-Menu-Item{
    margin-top: 20px;
    list-style: none;
    padding-left: 10px;    
}
.Pokedex-Menu-Item > span{
    line-height: 30px;    
}
.Pokedex-Menu-Item:last-child span a{
    color: #F7FCFC;
    text-decoration: none;    
}
.Pokedex-Menu-SubItem{
    padding-left: 15px;
    padding-top: 10px;
    list-style: none;    
}
.Pokedex-Menu-SubItem > li > span{
    line-height: 30px;
    cursor:pointer;
    display:block;
    position: relative;    
}
.Pokedex-Menu-SubItem > li > span.active:after{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);    
}
.Pokedex-Menu-SubItem > li > span:after{
    content: "\25BC";
    position: absolute;
    right: 22px;
    text-shadow: 2px 2px #5A0015;
    -webkit-transition: 0.5s;
    transition:0.5s;
    color: #CF0023;    
}
.Pokedex-Menu-SubItem > li > ul{
    max-height: 300px;
    overflow-x: hidden;    
}
.Pokedex-Menu-SubItem > li > ul li{
    line-height: 30px;
    list-style: none;
    padding-left: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    position: relative;    
}
.Pokedex-Menu-SubItem > li > ul li label{
    cursor: pointer;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;    
}
.Pokedex-Menu-SubItem > li > ul li label:hover{
    font-size: 0.9em;    
}
.Pokedex-Menu-Check{
    display: none;    
}
.Pokedex-Menu-Check + span {
    background-color: #fff;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 9px;
    top: 8px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .4);    
}
.Pokedex-Menu-Check:checked + span:after{
    content:"";
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color: #CF0023;
    height: 12px;
    position: absolute;
    width: 5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: 4px;    
}

  