

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Pokedex{
    background-color: #F7FCFC;
    width: 100%;


}
.Pokedex-Header,
    .Pokedex-Footer{
    background: -webkit-linear-gradient(135deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(-45deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
    position:fixed;
    overflow:hidden;
    width:100%;
}
.Pokedex-Header{
    height: 75px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    top:0;
    left:0;
}
.Pokedex-Footer{
    height: 25px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, .4);
    bottom:0;
    left:0;
}
.Pokedex-Tira{
    height: 65px;
    width: 65px;
    right: 0;
    top: 0;
    position: absolute;
    background: transparent;
    border-bottom-left-radius: 100%;
    border-left: solid 10px #5A0015;
    border-bottom: solid 10px #5A0015;
    box-shadow:-1px 1px 2px  rgba(0, 0, 0, .8) ,inset 1px -1px 2px rgba(0, 0, 0, .6);
}
.Pokedex-Body{
    background: #F7FCFC;
    margin-top: 65px;
    padding: 10px;
    width:100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Pokedex-Pokemon{
    width: 40%;
    margin: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 5px 0px;
    font-family: 'Handlee';
}
.Pokedex-Pokemon-Name{
    font-size: 26px;
    text-align:center;
    margin-bottom: 5px;
}
.Pokedex-Pokemon-Figure{
    width:90%;
    margin: 0 auto;
}
.Pokedex-Pokemon-Img{
    width: 100%;
}
.Pokedex-Menu{
    background-color: #5A0015;
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    width: 0%;
    -webkit-transition: 0.5s;
    transition:0.5s;
    z-index: 1;
    font-family: 'Handlee';
    color: #F7FCFC;
    overflow: hidden;
}
.Pokedex-Menu.active{
    width: 65%;
}
.Pokedex-Menu-Item{
    margin-top: 10px;
    list-style: none;
    padding-left: 10px;
}
.Pokedex-Menu-Item > span{
    line-height: 30px;
}
.Pokedex-Menu-SubItem{
    padding-left: 15px;
    list-style: none;
}
.Pokedex-Menu-SubItem > li > span{
    line-height: 30px;
}
.Pokedex-Menu-SubItem > li > ul{
    max-height: 300px;
    overflow-x: hidden;
}
.Pokedex-Menu-SubItem > li > ul li{
    line-height: 30px;
    list-style: none;
    padding-left: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
  