<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#5A0015"> 
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Handlee|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">

</head>
<body>
    
    <section class="Pokedex">
        <header class="Pokedex-Header" ng-controller="PokemonHeaderController">
            <div class="Pokedex-MenuIcon" ng-click="abrirMenu()" ng-if="$root.enlace == '/inicio'">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span class="Pokedex-Menu-Back" ng-if="$root.enlace != '/inicio'" ng-click="return()"></span>
            <div class="Pokedex-Tira"></div>
            
        </header>
        <div ui-view="menu"></div>
        <div ui-view="cuerpo"></div>
        <footer class="Pokedex-Footer">
            
        </footer>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
</body>
</html>