.Pokedex{
     &-Menu{
        background-color:var(--rojod);
        position: fixed;
        top:0px;
        bottom:0px;
        left:0px;
        width: 0%;
        transition:0.5s;
        z-index: 1;
        font-family: 'Handlee';
        color: var(--bg-white);
        overflow: hidden;
        &.active{  
            width: 65%;  
        }
        &-Item{
            margin-top: 10px;
            list-style: none;
            padding-left: 10px;
            & > span{
                line-height: 30px;
            }
        }
        &-SubItem{
             padding-left: 15px;
             list-style: none;
             & > li > span{
                line-height: 30px;
            }
            & > li > ul{
                max-height: 300px;
                overflow-x: hidden;
            }
            & > li > ul li{
                line-height: 30px;
                list-style: none;
                padding-left: 15px;
                box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
            }
        }
    }
}