.Pokedex{
    background-color: var(--bg-white);
    width: 100%;
    &-Header,
    &-Footer{
        background: linear-gradient(-45deg, #a90329 23%, #8f0222 44%, #6d0019 100%);
        position:fixed;
        overflow:hidden;
        width:100%;
        z-index:1;
    }
    &-Header{
        height: 75px; 
        box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
        top:0;
        left:0;
    }
    &-Footer{
        height: 25px;
        box-shadow: 0px -2px 3px rgba(0,0,0,0.4);
        bottom:0;
        left:0;
    }
    &-MenuIcon{
        position: absolute;
        left:20px;
        top:20px;
        cursor: pointer;
        height: 30px;
        width: 30px;
        & span{
            display: block;
            width:100%;
            height:5px;
            margin-top: 5px;
            background-color: var(--bg-white);
        }
    }
    &-Menu-Back{
        cursor:  pointer;
        position: absolute;
        left:20px;
        top:20px;
        line-height: 30px;
        height: 30px;
        width: 30px;
        &:after{
            color: var(--bg-white);
            content: "\21A9";
            font-size: 27px;
            text-align: center;
            display: block;
        }
    }

    &-Tira{
        height: 65px;
        width: 65px;
        right: 0;
        top: 0;
        position: absolute;
        background: transparent;
        border-bottom-left-radius: 100%;
        border-left: solid 10px var(--rojod);
        border-bottom: solid 10px var(--rojod);
        box-shadow:-1px 1px 2px  rgba(0,0,0,0.8) ,inset 1px -1px 2px rgba(0,0,0,0.6);
    }
    &-Body{
        background: var(--bg-white);
        margin-top: 65px;
        padding: 10px;
        width:100%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &-Pokemon{
        cursor: pointer;
        width: 40%;
        margin: 10px;
        transition:0.5;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0px;
        font-family: 'Handlee';
        position: relative;
        &:hover:after{
            height:20px;
            width:20px;
        }
        &:after{
            content: "" ;
            transition:0.5s;
            position:absolute;
            background: linear-gradient(45deg, #5A0015 45%, #aaaaaa 50%, #cccccb 60%,white);
            height:0px;
            width:0px;
            top:0;
            right:0;
        }
        @media screen and (min-width: 680px){
            width:25%;
        }
        @media screen and (min-width: 768px){
            width:20%;
        }
        &-Name{
            font-size: 26px;
            text-align:center;
            margin-bottom: 5px;
        } 
        &-Figure{
            width:90%;
            margin: 0 auto;
        }
        &-Img{
            width: 100%;
        }
    }
}
  