<section class="Pokedex-Body" ng-controller="PokemonController">

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam facilis quae doloribus voluptates, sint, assumenda nemo error, nobis ab incidunt pariatur doloremque iusto. Quaerat velit, incidunt nesciunt similique adipisci, cum.
   <section   class="Pokedex-Pokemon" ng-repeat="pokemon in ArrayPokemon">
        <figcaption class="Pokedex-Pokemon-Name">
            {{pokemon.name}}
        </figcaption>
        <figure class="Pokedex-Pokemon-Figure">
            <img ng-src={{pokemon.img}} alt="" class="Pokedex-Pokemon-Img">
        </figure>
    </section>
</section>